<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="header">
      <%= link_to 'All Recepies', recepies_path %>
    </li>
    <li class="header">
      <%= link_to 'All Categories', categories_path %>
    </li>
    <% if categories.any? %>
      <% categories.each do |category| %>
        <li><%= link_to category.title.titleize, show_categorized_recepies_path(category), remote: true %></li>
      <% end %>
    <% end %>
  </ul>

  <a href='asdasdf' class='btn btn-large btn-default'>Test</a>
</div>